.navbar {
  background: rgb(23, 23, 23);
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
}

.desktopMenuListItem:hover {
  /* color: #D17842; */
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #d17842;
}

.desktopMenuBtn {
  height: 2rem;
  background: white;
  color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}
