/* General styles */
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75rem;
  margin: 10rem auto -10rem auto;
  overflow: hidden;
  row-gap: 2rem;
}

.bg {
  object-fit: cover;
  width: 12rem;
  height: 15rem;
  border-radius: 100rem;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.socialLinks a {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: #555;
}

.socialLinks a:hover {
  color: #d17842;
}

.introContent {
  flex: 1;
  padding: 2rem;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.introWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hello {
  font-size: 1.2rem;
  font-weight: 100;
}

.introName {
  font-size: 2rem;
}

.typewriter {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 100;
}

.introParagraph {
  font-size: medium;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 0 0.5rem;
}

.tag-cloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  #intro {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .bg {
    width: 10rem;
    height: 12.5rem;
    margin-top: 0rem;
  }

  .socialLinks {
    margin-top: 1rem;
  }

  .introContent {
    text-align: center;
    padding: 0;
    font-size: 2rem;
  }

  .introWrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .introParagraph {
    font-size: 0.9rem;
  }
}

@media (max-width: 380px) {
  .introContent {
    font-size: 1.5rem;
  }

  .introParagraph {
    font-size: 0.8rem;
  }
}
