.text-shpere {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagcloud {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.tagcloud span {
  display: block;
  position: absolute;
  white-space: nowrap;
}

.tagcloud--item:hover {
  color: #ff6347;
}
